header{
    margin-top: 30px;
    color:#8e8783;
}
#btn-ppio{
    color:#8e8783;
    font-family: sans-serif;
    font-size: small;
}

main{
    margin-top: 1%;
    font-family:sans-serif;
    color: #8e8783;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.unete{
    position: absolute;
    top: 50%;
    left: 46%;
    /*transform: translate(-50%, -50%);*/
}
#unete{
    background-color: #8e8783;
    color: white;
}


footer{
    color:#ffffff;
    background-color: #8e8783;
    
}
