header{
    margin-top: 30px;
    color:#8e8783;
}
#btn-ppio{
    color:#8e8783;
    font-family: sans-serif;
    font-size: small;
}

main{
    margin-top: 1%;
    font-family:sans-serif;
    color: #8e8783;
}


.contenedor{
    position: relative;
    display: inline-block;

}
.titulo{
    position: absolute;
    top: 25%;
    left:10%;
    color:#ffffff;
    font-style: bold;
    /*transform: translate(-50%, -50%);*/

}

.subtitulo{
    /*position:absolute;*/
    left:40%;
    color:#005D55;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;

}
.texto{
    margin-left: 2%;
    margin-right: 2%;
}
#txt-andre{
    text-align: right;
    margin-top:60%;
    margin-left:10%;
}

#video{
    align-items: center;
}
footer{
    color:#ffffff;
    background-color: #8e8783;
    
}

